// -------------------------------
//     NAV VARIABLES
// -------------------------------

    // *--------- TYPOGRAPHY ---------*

    // *--------- COLORS ---------*

// ----------------------------
//     NAV STYLES
// ----------------------------

.map-wrapper {
	@extend .container;
}

#map {
	height: 15rem;
	width: 100%;
	margin: 2rem 0;
}


.map-form {
	@extend .form-inline;

	&__address {
		@extend .form-group;
	}

	&__output {
		@extend .form-control;
	}
}