// -------------------------------
//     NAV VARIABLES
// -------------------------------

    // *--------- TYPOGRAPHY ---------*

    // *--------- COLORS ---------*

// ----------------------------
//     NAV STYLES
// ----------------------------



.navbar {
	margin-bottom: 0;
}

.navbar-collapse {
	h4 {
		color: #818a91;
	}
	.container-fluid {
		padding: 2rem 2.5rem;
		border-bottom: 1px solid #55595c;
	}

	.text-muted {
  		color: #818a91;
  	}
}

.about {
	float: left;
  	max-width: 30rem;
  	margin-right: 3rem;
}

.ak_lib_list {
	float: left;
  	margin-right: 3rem;

  	ul {
  		float: left;
		margin-right: 3rem;
  	}

  	a {
  		font-weight: 500;
  		color: #eceeef;
  	}

  	a:hover {
  		color: #818a91;
  		text-decoration: none;	
  	}
}